/* ---- colors ---- */
/*
#F2E1E1
#F24B4B
#F20707
#820303
#230000
*/

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #F2E1E1
}

/* ---- typography ---- */

body {
  color: #820303;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 147%;
  letter-spacing: 2px;
}

button {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
}

input, span {
  z-index: 10;
}

label {
  z-index: 5;
}

/* ---- layout ---- */

html,
body {
  height: 100%;
  overflow: hidden;
  user-select: none;
}

button {
  background: transparent;
  border: 1px solid #F2E1E1;
  color: #F2E1E1;
  border-radius: 3px;
  transition: 0.3s;
}

button:hover {
  border: 1px solid #820303;
  color: #820303;
  transition: 0.3s;
  background: linear-gradient(-45deg, rgb(241, 104, 104), rgb(238, 26, 26));;
}

button:active {
  letter-spacing: 2px;
}

:focus {
  outline: none;
}

#main-container {
  border: 1px solid transparent;
  border-radius: 10px;
  background: linear-gradient(-45deg, #F23232, #F24B4B);
  max-width: 300px;
  box-shadow: 0 0 10px #820303;
}

.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.space {
  margin-bottom: 15px;
  padding-top: 15px;
}

.container {
  width: 80%;
}

.logo {
  max-width: 100px;
}

.input-field {
  border: 0; 
  padding: 4px 0; 
  border-bottom: 1px solid #F2E1E1; 
  background-color: transparent
}

.title-text {
  font-size: 2em;
  text-align: center;
}

.placeholder {
  position: absolute;
  width: 100%;
  color: #F2E1E1;
  top: 15px;
  letter-spacing: 0.5px;
  font-size: 0.8em;
  transition: 0.4s;
}

.input-field.has-content ~ .placeholder{
  top: 40px;
  color: #820303;
  transition: 0.4s;
}

.personal-data {
  max-height: 0px;
  opacity: 0;
  z-index: -10;
}

.personal-data.display {
  overflow:hidden;
  transition: 0.4s;
  max-height: 50vh; 
  height: auto;
  z-index: auto;
  opacity: 1;
}

.personal-data > * {
  height: inherit;
  padding: inherit;
  margin: inherit;
}

.border-focus {
  position: absolute; 
  bottom: 0%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: #820303;
  transition: 0.4s;
}

.input-field.has-content ~ .border-focus {
  width: 100%; 
  transition: 0.4s;
}

/* ----- dev -----*/
 
.border-dev {
  border: 1px solid black;
}

